@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap");
$primary: #ffeb38;
$primary-hover: #fce40f;
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#root {
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 4px;
  z-index: 999;
}
.header__active {
  background-color: #fce40f;
}
.header__left {
  background-color: $primary;
  width: 200px;
  height: 25px;
  border-top-right-radius: 50px;
}
.header__left__active {
  background-color: white;
}
.ibt__contant__nav__menu {
  background-color: black;
  border: none;
  display: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
}
.header__contant {
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0px 12px;
}
// .header__contant__active {
//   background-color: #fce40f;
// }
.ibt__nav__link__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ibt__nav__link {
  text-decoration: none;
  padding: 2em 12px 16px 12px;
  color: white;
  border-bottom-right-radius: 29px;
}
.ibt__nav__link:hover {
  background-color: #fce40f;
}
.header__right {
  width: 200px;
  height: 25px;
  border-top-right-radius: 50px;
}
.home__section {
  width: 100%;
  height: 90%;
  max-height: 1000px;
  position: relative;
  overflow: hidden;
}
.home__section__img {
  width: 100%;
  height: 600px;
}
.home__section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 22, 33, 0.85);
}
.home__section__overlay__img {
  width: 100%;
  max-width: 700px;
  max-height: 88%;
  padding: 2em;
}
.home__section__overlay__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 2em;
}
.header__heading__text {
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.header__heading__text span {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.home__section__overlay__content__info {
  font-size: 26px;
  font-weight: 500;
}
.intro__container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 3em;
}
.intro__container__left {
  width: 50%;
}
.intro__container__left__contant {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
  padding-top: 3em;
}
.intro__container__left__contant__heading {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  margin-bottom: 12px;
}
.intro__container__left__contant__heading::after {
  content: "";
  position: absolute;
  width: 22%;
  height: 18px;
  left: 0;
  bottom: -5px;
  z-index: -1;
  background-color: #fce40f;
}
.intro__container__left__contant__sub__heading {
  font-size: 16px;
  width: 70%;
}
.intro__container__right {
  width: 50%;
}
.intro__container__right__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro__container__right__img img {
  height: 350px;
  min-height: 300px;
}
.components__section {
  width: 100%;
  position: relative;
  padding: 7em 0em;
  padding-top: 10em;
}
.components__section__top {
  position: relative;
  width: 90%;
  margin-right: 10%;
  background-color: $primary;
  height: 300px;
  border-top-right-radius: 200px;
}
.components__section__top::after {
  content: "";
  position: absolute;
  top: -30px;
  right: -30px;
  border: 1px solid #707070;
  border-top-right-radius: 220px;
  width: 500%;
  height: 100%;
}
.components__section__bottom {
  position: relative;
  margin-top: -12em;
  z-index: 1;
}
.components__section__bottom__content {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0em 3em;
}
.components__section__bottom__content__heading {
  font-size: 35px;
  color: #030f1a;
  margin-bottom: 1em;
  position: relative;
  font-weight: 600;
  width: fit-content;
  text-transform: uppercase;
}
.components__section__bottom__content__heading::after {
  content: "";
  background-color: white;
  position: absolute;
  top: 60%;
  left: 0px;
  width: 80%;
  height: 50%;
  z-index: -1;
}
.components__section__bottom__content__content {
  display: flex;
  flex-wrap: wrap;
}
.components__section__bottom__content__content__entry {
  flex: 1;
  margin-right: 1em;
}
.components__section__bottom__content__content__entry__img__wrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.components__section__bottom__content__content__entry__img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.components__section__bottom__content__content__entry__heading {
  font-size: 16px;
  font-weight: 500;
  color: #030f1a;
  position: relative;
}
.components__section__bottom__content__content__entry__heading::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 35%;
  height: 30%;
  background-color: #fce40f;
  z-index: -1;
}
.components__section__bottom__content__content__entry:hover
  .components__section__bottom__content__content__entry__img {
  transition: 300ms ease-in-out;
  transform: scale(1.2);
}
.specification__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}
.specification__section__left {
  width: 70%;
}
.specificaryion__left__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.specification__section__left__entry {
  width: 35%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.specification__section__left__entry__svg svg {
  margin: 12px;
  height: 35px;
}
.specification__section__right {
  width: 30%;
}
.specification__section__right__wraper {
  position: relative;
  width: 90%;
  margin-right: 10%;
  background-color: $primary;
  height: 200px;
  border-top-right-radius: 70px;
  padding-right: 4em;
  display: flex;
  align-items: flex-end;
}
.specification__section__right__wraper ::after {
  position: absolute;
  content: "";
  border: 1px solid $primary;
  position: absolute;
  top: -9px;
  left: 10px;
  width: 101%;
  height: 195px;
  padding: 2em;
  border-top-right-radius: 70px;
  z-index: -1;
}
.specification__section__right__contant {
  font-size: 28px;
  font-weight: 700;
  padding: 0px 12px;
}
.specification__section__left__entry__contant::after {
  content: "";
  background-color: #ffeb38;
  position: absolute;
  width: 4%;
  height: 10px;
  margin-top: -30px;
  z-index: -1;
}
.feature__section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3em;
}
.feature__section__left {
  width: 50%;
}
.feature__section__left__contant {
  padding-left: 6em;
}
.feature__section__left__contant__heading {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
}
.feature__section__left__contant__card {
  background-color: $primary;
  color: #050505;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 45px;
  margin: 10px 0px;
  padding: 5px;
  font-weight: 500;
  width: 115%;
  border-top-right-radius: 50px;
}
.feature__section__left__contant__wraper {
  position: relative;
}
.feature__section__left__contant__wraper::after {
  content: "";
  top: -44px;
  position: absolute;
  height: 302px;
  width: 95%;
  border: 1px solid #050505;
  border-top-right-radius: 110px;
}

.feature__section__right {
  width: 50%;
}
.feature__section__right__img {
  width: 100%;
}
.feature__section__right__img img {
  height: 306px;
  // min-height: 300px;
  width: 100%;
}
.location__wraper {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 6em;
}
.location__wraper__heading {
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.location__wraper__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}
.location__wraper__heading::after {
  content: "";
  background-color: $primary;
  position: absolute;
  width: 22%;
  left: 0;
  bottom: 0;
  height: 15px;
  z-index: -1;
}
.location__card {
  width: 40%;
  display: flex;
  align-items: center;
  border: 1px solid $primary;
  border-top-right-radius: 40px;
  margin: 1em 1em;
}
.location__card:hover {
  background-color: black;
  color: white;
}
.location__card__svg {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #fce40f;
}
.location__card__svg svg {
  height: 60px;
}
.location__card__contant {
  font-size: 16px;
  // font-weight: 300;
  margin-left: 1em;
}
.location__card__contant span {
  font-weight: 700;
}
.location__map__container {
  width: 100%;
  position: relative;
}
.location__map__container__img {
  width: 100%;
}
.location__map__container__img img {
  width: 100%;
  height: 400px;
  min-height: 300px;
}
.location__map__container__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  top: -30px;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.location__map__container__overlay__contant {
  width: 80%;
  color: white;
}
.location__map__container__overlay__contant__heading {
  font-size: 30px;
  font-weight: 700;
  margin: 0.5em 0em;
  position: relative;
  z-index: 2;
}
.location__map__container__overlay__contant__heading::after {
  content: "";
  background-color: $primary;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 25%;
  height: 19px;
  z-index: -1;
  opacity: 0.9;
}
.location__map__container__overlay__contant__sub__heading {
  font-size: 16px;
  width: 70%;
  margin-bottom: 1em;
  line-height: 22px;
}
.contact__section {
  width: 95%;
}
.contant__container {
  position: relative;
  top: -3px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: $primary;
  border-bottom-right-radius: 70px;
  padding: 1.5em;
}
.contant__container__text {
  font-size: 14px;
  width: 70%;
}
.contact__button__btn {
  background-color: transparent;
  border: 1px solid black;
  padding: 1em;
  cursor: pointer;
}
.contact__button__btn:hover {
  background-color: #050505;
  color: white;
}
.footer__section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__left {
  width: 10%;
  display: flex;
  align-items: flex-end;
}
.footer__left img {
  height: 200px;
}
.footer__contant__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2em 0em;
}
.footer__contant__container__contant {
  width: 25%;
  display: flex;
  padding-right: 3em;
  align-items: flex-start;
  flex-direction: column;
}
.footer__contant__container__contant__heading {
  font-size: 24px;
  display: flex;
  align-items: flex-start;
  padding-bottom: 12px;
}
.footer__contant__container__contant__heading span {
  font-weight: 700;
}
.footer__contant__container__contant__sub__heading {
  font-size: 16px;
  line-height: 20px;
}
.footer__contant__pages__link__wraper {
  width: 20%;
  display: flex;
  align-items: flex-start;
  padding: 0em 1em;
  flex-direction: column;
  position: relative;
}
.footer__links__wraper__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__contant__pages__link__wraper::before {
  content: "";
  position: absolute;
  height: 150px;
  left: 0;
  top: 0;
  width: 6px;
  background-color: $primary;
}
.footer__pages__links {
  text-decoration: none;
  color: black;
  padding: 5px 0px;
}
.footer__pages__links__heading {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}

.footer__contant__quick__link__wraper__inner::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 6px;
  // margin-left: -12px;
  background-color: $primary;
}
.footer__quick__links__heading {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  display: flex;
  align-items: flex-start;
}
.footer__quick__link {
  text-decoration: none;
  color: black;
  padding: 5px 0px;
}

.footer__mailing__wraper {
  position: relative;
  width: 16%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
}
.footer__mailing__wraper::after {
  content: "";
  position: absolute;
  height: 150px;
  width: 6px;
  margin-left: -12px;
  background-color: $primary;
}
.footer__mailing__wraper__heading {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}
.footer__mailing__wraper__sub__heading {
  font-size: 14px;
}
.footer__mailing__send {
  width: 100%;
}
.footer__mailing__send input {
  padding: 12px;
  margin: 12px 0px;
  outline: none;
}
.footer__right {
  width: 10%;
  display: flex;
  align-items: flex-end;
}
.footer__right__bg {
  width: 100%;
  background-color: $primary;
  height: 120px;
  background-color: $primary;
  border-top-left-radius: 60px;
  position: relative;
}
.footer__right__bg::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -10px;
  width: 101%;
  height: 133px;
  padding: 2em;
  border: 1px solid black;
  border-top-left-radius: 60px;
  z-index: -1;
}
.buttom__footer__social {
  border-top: 2px solid black;
  width: 100%;
  padding: 1em;
}
.buttom__footer__social__link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.buttom__footer__social__link img {
  height: 40px;
}
@media (max-width: 1366px) {
  .header__content {
    max-width: 1100px;
  }
}

@media (max-width: 1200px) {
  .header__content {
    max-width: 900px;
  }
  .home__section__img {
    width: 120%;
    margin-left: -10%;
  }
  .components__section__top {
    width: 98%;
  }
}
@media (max-width: 1000px) {
  .home__section__img {
    width: 150%;
    margin-left: -25%;
  }
  .header__content {
    padding: 1em;
    padding-right: 2em;
  }
  .header__right {
    display: none;
  }
  .header__content__menu {
    display: flex;
  }
  .header__content__nav {
    position: absolute;
    top: 5em;
    background-color: $primary;
    border-radius: 10px;
    flex-direction: column;
    padding: 1.5em;
    right: 2em;
  }
  .header__content__nav__link {
    width: 150px;
  }
  .header__content__nav__link__content {
    color: #030f1a;
  }
  .header__content__nav__link__input:hover
    ~ .header__content__nav__link__content {
    background-color: #030f1a;
    color: white;
  }
  .header__content__nav__link__input:checked
    ~ .header__content__nav__link__content {
    background-color: #030f1a;
    color: white;
  }
}

@media (max-width: 800px) {
  .location__wraper__cards {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .location__card {
    width: 60%;
  }
  .location__wraper__heading {
    text-align: center;
  }
  .location__map__container__overlay__contant {
    width: 115%;
    padding: 0em 1em;
  }
  .header__left {
    display: none;
  }
  .header__content {
    padding: 1em 2em;
  }
  .home__section__img {
    width: 180%;
    margin-left: -40%;
  }
  .components__section__bottom__content__content__entry {
    min-width: 100%;
  }
  .components__section__bottom__content__content__entry__img__wrapper {
    height: 220px;
  }
}
@media (max-width: 850px) {
  .header__contant__logo svg {
    height: 30px;
  }
  .ibt__contant__nav__menu {
    padding: 5px;
    border-radius: 3px;
  }
  .header {
    padding: 12px;
  }
  .header__right {
    display: none;
  }
  .intro__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  }
  .intro__container__left__contant {
    padding-top: 1em;
  }
  .intro__container__left {
    width: 100%;
  }
  .intro__container__right {
    width: 85%;
  }
}
@media (max-width: 900px) {
  .feature__section {
    flex-direction: column;
  }
  .feature__section__left {
    width: 90%;
    margin-bottom: 2em;
  }
  .feature__section__left__contant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1em;
  }
  .feature__section__left__contant__wraper::after {
    height: 270px;
  }
  .feature__section__left__contant__card {
    margin-bottom: 6px;
    width: 60%;
  }
  .feature__section__right {
    width: 80%;
  }
  .ibt__contant__nav__menu {
    display: flex;
  }
  .ibt__nav__link__wraper {
    position: absolute;
    top: 4.5em;
    right: 1em;
    background-color: #f7f5f6;
    color: #511b3b;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    border-radius: 12px;
    z-index: 999;
  }
  .ibt__nav__link {
    padding: 1em 4px;
    color: black;
  }
  .footer__contant__container__contant {
    width: 85%;
    margin: 3em 0em;
  }
  .footer__contant__pages__link__wraper {
    width: 45%;
  }
  .footer__contant__quick__link__wraper {
    width: 45%;
  }
  .footer__mailing__wraper {
    width: 60%;
    margin-top: 3em;
  }
  .feature__section {
    flex-direction: column;
  }
  .feature__section__left {
    width: 90%;
    margin-bottom: 2em;
  }
  .feature__section__left__contant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1em;
  }
  .feature__section__left__contant__wraper::after {
    height: 270px;
  }
  .feature__section__left__contant__card {
    margin-bottom: 6px;
    width: 60%;
  }
  .feature__section__right {
    width: 80%;
  }
  .components__section__bottom__content__content__entry {
    margin-bottom: 1em;
  }
  .about__section__content {
    flex-direction: column;
  }
  .about__section__content__left {
    margin-right: 0em;
    text-align: center;

    align-items: center;
  }
  .about__section__content__left__heading {
    text-align: center;
  }
  .about__section__content__left__heading::after {
    left: 10%;
  }
}
@media (max-width: 500px) {
  .location__wraper__heading {
    font-size: 16px;
  }
  .intro__container__left__contant__heading {
    font-size: 20px;
  }
  .intro__container__left__contant__sub__heading {
    font-size: 14px;
  }
  .intro__container__right__img img {
    height: 250px;
  }
  .header__left {
    display: none;
  }
  .header__contant {
    padding: 6px 2px;
  }
  .header__contant__logo svg {
    width: 110px;
  }
  .location__map__container__overlay__contant__heading {
    font-size: 18px !important;
  }
  .location__map__container__overlay__contant__sub__heading {
    font-size: 14px;
  }
  .feature__section__left__contant__card {
    font-size: 14px;
  }
  .about__section__content__left__heading {
    font-size: 25px;
    margin-bottom: 0.8em;
  }
  .components__section__bottom__content__heading {
    font-size: 30px;
    margin-bottom: 0.3em;
  }
  .components__section__bottom__content__heading {
    margin-bottom: 1em;
  }
  .home__section__img {
    width: 250%;
    margin-left: -75%;
  }
  .header__content__logo svg {
    width: 150px;
  }
  .header__content__nav {
    width: 100%;
    left: 0px;
    top: 4em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .header__content__nav__link {
    width: 100%;
  }
  .components__section__bottom__content__content__entry__img__wrapper {
    height: 180px;
  }
}
@media (max-width: 600px) {
  .footer__contant__container {
    align-items: flex-start;
  }
  .feature__section__left__contant__card {
    width: 85%;
  }
  .feature__section__left__contant__heading {
    font-size: 18px;
  }
  .feature__section__right__img img {
    height: 180px !important;
  }

  .feature__section__left__contant__card {
    width: 85%;
  }
  .feature__section__left__contant__heading {
    font-size: 18px;
  }
  .feature__section__right__img img {
    height: 180px !important;
  }
}
