@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap");
$primary: #ffeb38;
$primary-hover: #fce40f;
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(58, 56, 56);
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
}
.header__left {
  background-color: $primary;
  width: 200px;
  height: 25px;
  border-top-right-radius: 50px;
}
.header__contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em 1em;
}
.header__contant__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-left: 2em;
}
.header__contant__nav ul {
  display: flex;
  text-decoration: none;
  padding: 1em;
  list-style: none;
}
.header__contant__nav a {
  text-decoration: none;
  color: #ffeb38;
  padding: 1em;
}
.header__contant__nav a:hover {
  color: #fff9f9;
}
.header__right {
  width: 200px;
  height: 25px;
  border-top-right-radius: 50px;
}
.home__section {
  width: 100%;
}
.home__section__img {
  width: 100%;
  height: 700px;
}
.home__section__overlay {
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.5);
}
